{#
  ./templates/tags/index.html.twig
  Variables disponibles:
    - tags ARRAY Tag (id, nom, slug, creatures)
#}

<h5 class="card-header">Tags</h5>
<div class="card-body">
  <div class="row">
    <div class="col-lg-12">
      {% include 'tags/liste.html.twig' %}
    </div>

  </div>
</div>
