{#
  ./templates/tags/liste.html.twig
  Variables disponibles:
    - tags ARRAY Tag (id, nom, slug, creatures)
#}

<ul class="list-unstyled mb-0">
  {% for tag in tags %}
    <li>
      <a href="{{ path('app_tags_show', { id: tag.id, slug: tag.slug }) }}">{{tag.nom}}</a>
    </li>
  {% endfor %}
</ul>
