{#
  ./templates/tags/show.html.twig
  Variables disponibles:
    - tag Tag (id, nom, slug, creatures)
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ tag.nom }}
{% endblock %}

{% block content1 %}
  <h1 class="mt-4">{{ tag.nom }}</h1>

  <hr>
  {% if tag.creatures is empty %}
    Il n'y a pas de créatures à afficher
  {% else %}
    {% include 'creatures/liste.html.twig' with { creatures: tag.creatures} %}
  {% endif %}

{% endblock %}
