{#
  ./templates/partials/head.html.twig
  Variables disponibles:
    - title string
#}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Examen symfony Mathieu - {{ title }}</title>

    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
