{#
  ./templates/partials/scripts.html.twig
  Variables disponibles:
    -
#}
{% block javascripts %}
  <!-- Bootstrap core JavaScript -->
  {{ encore_entry_script_tags('app') }}
{% endblock %}
