{#
  ./templates/partials/sidebar.html.twig
  Variables disponibles:
    -
#}

<!-- Sidebar Widgets Column -->
<div class="col-md-4">

  <!-- Search Widget -->
  <div class="card my-4">
    <h5 class="card-header">Rechercher une créature</h5>
    <div class="card-body">
      <form action="{{ path('app_creatures_search') }}" method="get">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Mot-clé" name="search">
          <span class="input-group-btn">
            <input type="submit" class="btn btn-secondary">
          </span>
        </div>
      </form>
    </div>
  </div>

  <!-- Categories Widget -->
  <div class="card my-4">
    {{ render(controller('App\\Controller\\TagController::indexAction')) }}
  </div>


</div>
