{#
  ./templates/films/index.html.twig
  Variables disponibles:
    - films ARRAY Film (id, titre, synopsis, slug, creatures)
#}

{% for film in films %}
  <div class="row">
    <div class="col-md-4">
      <a href="{{ path('app_films_show', { id: film.id, slug: film.slug }) }}">
        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ asset('build/images/'~ film.id ~'.jpg') }}" alt="{{film.titre}}">
      </a>
    </div>
    <div class="col-md-8">
      <h3>{{film.titre}}</h3>
      <p>{{film.synopsis}}</p>
      <a class="btn btn-primary" href="{{ path('app_films_show', { id: film.id, slug: film.slug }) }}">Voir les détails du film</a>
      <hr/>
    </div>
  </div>
  <hr/>
{% endfor %}
