{#
  ./templates/pages/index.html.twig
  Variables disponibles:
    - pages ARRAY Page (id, titre, slug, texte, tri)
    - activeId null|int 
#}

<ul class="navbar-nav ml-auto">
  {% for page in pages %}
    <li class="nav-item {% if page.id == activeId %}active{% endif %}">
      <a class="nav-link" href="{{ path('app_pages_show', {id: page.id, slug: page.slug}) }}">{{ page.titre }}
      </a>
    </li>
  {% endfor %}
</ul>
