{#
  ./templates/pages/show.html.twig
  Variables disponibles:
    - page Page (id, titre, slug, texte, tri)
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{page.titre}}
{% endblock %}

{% block content1 %}
    <h1 class="mt-4">{{ page.titre }}</h1>

    <hr>


    <!-- Post Content -->
    <p class="lead">{{ page.texte }}</p>
    {% if page.id == 2 %}
      <a class="btn btn-primary" href="{{ path('app_creatures_add') }}">Ajouter une créature</a>
    {% endif %}

    <hr>

    {% if page.id == 1 %}
      {{ render(controller('App\\Controller\\CreatureController::indexAction', { limit : 2 })) }}
    {% endif %}

    {% if page.id == 2 %}
      {{ render(controller('App\\Controller\\CreatureController::indexAction', { limit : 3, vue: 'liste', adminPage: true })) }}
    {% endif %}

    {% if page.id == 3 %}
      {{ render(controller('App\\Controller\\FilmController::indexAction', { limit : 2 })) }}
    {% endif %}


{% endblock %}
