{#
  ./templates/creatures/add.html.twig
  Variables disponibles:
    - form CreatureType
    - creature Creature (nom, texteLead, texteSuite, dateCreation, image, film, slug, tags)
#}

{% extends 'base.html.twig' %}

{% block title %}
  Ajout d'une créature
{% endblock %}

{% block content1 %}
  <h1 class="mt-4">Ajout d'une créature</h1>
  {{ form_start(form) }}
  {{ form_rest(form) }}
  <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
  {{ form_end(form) }}
{% endblock %}
