{#
  ./templates/creatures/edit.html.twig
  Variables disponibles:
    - creature Creature (nom, texteLead, texteSuite, dateCreation, image, film, slug, tags)
    - form CreatureType
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ creature.nom }} - Edition
{% endblock %}

{% block content1 %}
  <h1 class="mt-4">Edition de la creature {{ creature.nom }}</h1>
  {{ form_start(form) }}
  {{ form_rest(form) }}
  <button class="btn btn-primary">{{ button_label|default('Editer') }}</button>
  {{ form_end(form) }}
{% endblock %}
