{#
  ./templates/creatures/index.html.twig
  Variables disponibles:
    - creatures Array Creature(nom, texteLead, texteSuite, dateCreation, image, film, slug, tags)
#}

<h2 class="mt-4">Dernieres créatures</h2>

<hr>

{% include 'creatures/liste.html.twig' %}
