{#
  ./templates/creatures/search.html.twig
  Variables disponibles:
    - creatures Array Creature(nom, texteLead, texteSuite, dateCreation, image, film, slug, tags)
    - search string
#}

{% extends 'base.html.twig' %}

{% block title %}
  Recherche de {{ search }}
{% endblock %}

{% block content1 %}
 <h1 class="mt-4">Résultats de votre recherche : <small>{{ search }}</small></h1>

  <hr>
  {% if creatures is empty %}
    Désolé aucune créature ne correspond à votre recherche
  {% else %}
    {% include 'creatures/liste.html.twig' %}    
  {% endif %}
{% endblock %}
