{#
  ./templates/creatures/show.html.twig
  Variables disponibles:
    - creature Creature (nom, texteLead, texteSuite, dateCreation, image, film, slug, tags)
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ creature.nom }}
{% endblock %}

{% block content1 %}
  <h1 class="mt-4">{{ creature.nom }}</h1>
  <p class="lead">
    dans
    <a href="{{ path('app_films_show', { id: creature.film.id, slug: creature.film.slug }) }}">{{ creature.film.titre }}</a> le {{ creature.dateCreation | date('d-m-y') }}
  </p>

  <hr>




  <!-- Project One -->
  <div class="row">
    <div class="col-md-6">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ asset('build/images/'~ creature.image) }}" alt="{{ creature.nom }}">
      </a>
    </div>
    <div class="col-md-6">
      <p class="lead">{{ creature.texteLead }}</p>
      <hr/>
      <p>{{ creature.texteSuite }}</p>
      <div>
        <a class="btn btn-primary" href="{{ path('app_creatures_edit', { id: creature.id, slug: creature.slug }) }}">Modifier</a>
        <form action="{{ path('app_creatures_delete', {id: creature.id, slug: creature.slug}) }}" method="post" style="display:inline-block;" onSubmit="return confirm('Voulez-vous vraiment supprimer cette créature?')">
          <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ creature.id) }}">
          <button class="btn btn-secondary">Supprimer</button>
        </form>
      </div>
      <hr/>
      {% if not creature.tags is empty %}
        <ul class="list-inline tags">
          {% for tag in creature.tags %}
            <li><a href="{{ path('app_tags_show', { id: tag.id, slug: tag.slug }) }}" class="btn btn-default btn-xs">{{ tag.nom }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
  <hr>
{% endblock %}
