<!DOCTYPE html>
<html>
    {% include 'partials/head.html.twig' with {title: block('title')}%}
    <body>
      {% include 'partials/nav.html.twig' %}

        <!-- Page Content -->
        <div class="container">

          <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">
              {% for message in app.flashes('message') %}
                  <div class="alert alert-success">
                      {{ message }}
                  </div>
              {% endfor %}
              <!-- Page Heading -->

              <!-- Title -->
                {% block content1 %}{% endblock %}
              <!-- /.row -->



            </div>

            {% include 'partials/sidebar.html.twig' %}

          </div>
          <!-- /.row -->

        </div>
        <!-- /.container -->

        {% include 'partials/footer.html.twig' %}

        {% include 'partials/scripts.html.twig' %}
    </body>
</html>
